# Prerequisites
*.d

# Object files, ignore all .o files
*.o
*.ko
*.obj
*.elf


# closed source
# STM32_Bootloader_Tool.py

*.py


# My added file
Drivers/
Tools/
Debug/
*.settings
*.bin
language.settings.xml
*.cproject
*.mxproject
*.project
*.ioc
*.bin
*.list
*.xml
*.prefs
*.launch


# Linker output
*.ilk
*.map
*.exp

# STM32CubeIDE metadata hidden Directory

*.log
.metadata
/.metadata
*/.metadata

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# vscode setting
.vscode
/.vscode
\.vscode
*/.vscode